/* Header.css */
.navbar {
  background-color: #343a40;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.nav-link:hover, .navbar-brand:hover {
  color: #ccc;
}

.social-icon {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.social-icon:hover {
  transform: scale(1.1); /* Slight increase in size on hover */
}

/* Adjustments for smaller screens */
@media (max-width: 576px) {
  .navbar-nav {
    margin-top: 1rem;
  }

  .social-icon {
    margin: 0 0.5rem 0.5rem 0;
  }
}
