.navbar-toggler-icon {
  color: #fff;
  border-color: #fff;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: #fff;
  padding: 0 10px;
}

.nav-link:hover {
  color: #ccc;
}

.social-icon {
  color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}